<div class="container">
  <div class="center">
    <div class="middle">
      <mat-tab-group>
        <mat-tab label="UniProt IDs text input">
          <form [formGroup]="form">
            <mat-form-field style="width:100%">
              <mat-label>UniProt Accession IDs (separated by newline)</mat-label>
              <textarea matInput [rows]="5"></textarea>
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="Upload file with only UniProt IDs">
          <div style="display:flex; height: 200px">
            <div style="margin:auto">
              <form [formGroup]="form">
                <button mat-raised-button color="primary" (click)="fileInput.click()">Upload file</button>
                <input #fileInput
                       type="file"
                       (change)="onFileChange($event, false)"
                       hidden
                >
              </form>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Upload file with multiple columns">
          <div style="display:flex; height: 200px">
            <div style="margin:auto">
              <form [formGroup]="form">
                <button mat-raised-button color="primary" (click)="fileInputMultiple.click()">Upload file</button>
                <input #fileInputMultiple
                       type="file"
                       (change)="onFileChange($event, true)"
                       hidden
                >
                <div>
                  <mat-form-field style="width: 300px">
                    <mat-label>Column with UniProt Accession IDs</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let column of multiColumnFile.getColumnNames()" [value]="column">{{column}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </form>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
